<% if note.errors.any? %>
  <div>
    <h2>
      <%= pluralize(note.errors.count, "error") %>:<br>
    </h2>

    <ul style="list-style-type: none;">
    <% note.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @note do |f| %>
    <%= f.text_area :content %><br>

    <%= f.hidden_field :destination_id %>
    <%= f.hidden_field :user_id %>
    
    <%= f.submit "Create Note" %>
<% end %>