<h1>Sign Up</h1>
<%= form_for @user do |f| %>
    <%= f.text_field :name, placeholder: "Name" %>
    <br><br>
    <%= f.password_field :password, placeholder: "Password" %>
    <br><br>
    <%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %><br><br>

    <%= f.submit "Create User" %>
<% end %>