<h1>User Info</h1>
<!--<% if flash[:message] %>
    <p><%= flash[:message] %></p>
<% end %>-->

<h1>Welcome to the Travel Note Taking App!!</h1>


Name: <%= @user.name %>
<%= @user.destinations.each do | note | %>
    <%= note.content %>
<% end%>
<br>
<%= link_to "See all destinations", destinations_path %>
<br>
<%= link_to "Make New Destination", new_destination_path %>