<!DOCTYPE html>
<html>
  <head>
    <title>Notes On Travelling</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
  </head>

      <% if !current_user %>
        <%= link_to "Sign In", signin_path %>
        <%= link_to 'Sign Up', signup_path %>
      <% else %>
        <%= link_to "All Destinations", destinations_path %>
        <%= link_to "Add a New Destination", new_destination_path %>
        <%= link_to "All Notes", notes_path %>
        <%= link_to 'Log Out', '/sessions/', method: "delete" %>
      <% end %>

  <body>
    <%= yield %>
  </body>
</html>
